.Header_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 220px;

    .time {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: -0.3px;
    }

    .icons {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
}